#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.sider-layout-background {
  background: aliceblue;
}
.manage-layout{
  min-height: 1000px;
}