.slide-picture {
  height: 170px;
  width: auto;
  margin: 0 0 0 0;
  padding: 5px;
  background-color: #f4f8f3;
  text-align-all: center;
  border: medium double lavender;
}

.article-area{
  background-color: white;
  border: medium double lavender;
}

.status-area{
  background-color: white;
  border: medium double lavender;
}

.home{
  width: 95%;
  max-width: 1200px;
  margin: 10px auto;
  align-content: center;
}