package model

import (
	"github.com/krilie/lico_alone/common/com-model"
)

{{range $i, $v := .models}}
	type {{$v}} struct {
	    com_model.Model
	}
	func ({{$v}}) TableName() string {
	    return "tb_{{ToSnake $v}}"
	}
{{end}}
