div {
  text-align: left;
  height: fit-content;
  width: 100%;
}
.Menu {
  text-align: left;
}
.div-line{
  margin: 0 0 0 0;
  color: #333;
  font-weight: normal;
}
.top-menu{
  height: 40px;
}
.menu-logo{
  height: 48px;
  min-width: 160px;
  max-width: 160px;
}
.fix-height-menu{
  height: 48px;
}