.article-picture {
  overflow: hidden;
  min-width: 80px;
}

.article-item-card {
  overflow: hidden;
  min-width: 400px;
  padding: 0 0 0 0;
  margin: 5px 5px 5px 5px;
  border: none;
  //background-color: lightblue;
}
.article-item-card-body {
  overflow: hidden;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.article-layout {
  min-width: 400px;
  background-color: transparent;
}
.article-layout-header {
  font-size: 18px;
  padding-left: 5px;
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  background-color: transparent;
}

.article-layout-header:hover {
  font-size: 18px;
  color: green;
  padding-left: 8px;
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  background-color: beige;
}

.article-layout-sider {
  padding: 0 0 0 0;
  overflow: hidden;
  min-width: 100px;
  min-height: 80px;
  background-color: transparent;
}
.article-layout-content {
  padding: 5px 5px 5px 10px;
  background-color: transparent;
}
.article-layout-footer {
  padding: 5px 5px 5px 5px;
  background-color: transparent;
}

.pic {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}





